.ml-132 {
  margin-left: 8.25rem;
}
.ml-37 {
  margin-left: 2.31rem;
}
.page {
  padding: 5.38rem 15.75rem 8.5rem;
  background-color: #ffffff;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
}
.text {
  color: #000000;
  font-size: 3rem;
  font-family: Inter;
  line-height: 2.22rem;
}
.group {
  margin-right: 2rem;
}
.font {
  font-size: 1.5rem;
  font-family: Inter;
  line-height: 1.11rem;
  color: #000000;
}
.text_2 {
  line-height: 1.13rem;
}
.text_3 {
  margin-left: 7rem;
  margin-top: 8.5rem;
  color: #000000;
  font-size: 2.5rem;
  font-family: Inter;
  line-height: 1.88rem;
}
.group_2 {
  margin-top: 6.13rem;
  padding-left: 2.63rem;
  padding-right: 1.38rem;
}
.image {
  height: 34.88rem;
}
.group_3 {
  margin-top: 4.75rem;
  width: 36.96rem;
}
.group_4 {
  margin-left: 0.75rem;
  line-height: 1.66rem;
}
.font_2 {
  font-size: 2.25rem;
  font-family: Inter;
  line-height: 1.66rem;
  color: #000000;
}
.font_3 {
  font-size: 2rem;
  font-family: Inter;
  color: #000000;
}
.text_4 {
  line-height: 1.49rem;
}
.group_5 {
  margin-top: 7.88rem;
  line-height: 1.93rem;
}
.text_5 {
  line-height: 1.72rem;
}
.text_6 {
  line-height: 1.93rem;
}
.group_6 {
  margin: 10.13rem 0.38rem 0 0.13rem;
}
.text_7 {
  line-height: 2.69rem;
}
.text_8 {
  line-height: 2.38rem;
}