.ml-132 {
  margin-left: 8.25rem;
}
.page {
  padding: 5.38rem 15.75rem 9.38rem;
  background-color: #ffffff;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
}
.font {
  font-size: 3rem;
  font-family: Inter;
  color: #000000;
}
.text {
  line-height: 2.22rem;
}
.group {
  margin-right: 2rem;
}
.font_2 {
  font-size: 1.5rem;
  font-family: Inter;
  line-height: 1.11rem;
  color: #000000;
}
.text_2 {
  line-height: 1.13rem;
}
.group_2 {
  margin-top: 7.13rem;
  padding: 0 5.25rem;
}
.text_3 {
  line-height: 2.83rem;
}
.group_3 {
  margin-top: 2.38rem;
  padding: 0 8rem;
}
.image {
  margin-top: 1.63rem;
  width: 10.38rem;
  height: 4.06rem;
}
.text_4 {
  line-height: 2.28rem;
}
.image_2 {
  margin-top: 1.38rem;
  border-radius: 2.44rem;
  width: 52.69rem;
  height: 24.44rem;
}
.text_5 {
  margin-top: 3.81rem;
  line-height: 2.9rem;
}