.mt-133 {
  margin-top: 8.31rem;
}
.mt-31 {
  margin-top: 1.94rem;
}
.ml-35 {
  margin-left: 2.19rem;
}
.page {
  padding: 5rem 18.69rem 3.75rem;
  background-color: #ffffff;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
}
.group {
  padding-left: 2rem;
  padding-right: 1.25rem;
}
.image {
  margin-top: 2.13rem;
  width: 15.31rem;
  height: 23.13rem;
}
.image_2 {
  margin-left: 12.88rem;
  margin-top: 5.38rem;
  border-radius: 2.25rem;
  width: 17.19rem;
  height: 23.38rem;
}
.group_2 {
  margin-left: 7.13rem;
}
.text-wrapper {
  padding: 1.88rem 0;
  background-color: #8b75d9;
  border-radius: 1.06rem;
  width: 9.06rem;
}
.text {
  color: #ffffff;
  font-size: 2.25rem;
  font-family: Inter;
  line-height: 1.68rem;
}
.image_3 {
  border-radius: 3.06rem;
  width: 26.88rem;
  height: 18.81rem;
}
.image_6 {
  margin-top: 6.19rem;
  width: 23.44rem;
  height: 14.06rem;
}
.image_4 {
  border-radius: 8.94rem;
  height: 17.56rem;
}
.image_5 {
  margin-right: 6.75rem;
  margin-top: 2.13rem;
  border-radius: 2.69rem;
  width: 15.94rem;
  height: 22.19rem;
}